header {
    background-color: var(--background-raised);
    padding: 0.25rem 0.75rem;
    display: grid;
    grid-template-columns: 1fr;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav .logo {
    width: 2.3rem;
    height: 2.3rem;
}

nav .title {
    font-size: 1.25rem;
}